<?xml version="1.0"?> <!-- + encoding="utf-8"?'> -->
<launch>

  <!-- topic identifying the rgb source -->
  <!-- arg name="rgb_topic" default="/cam3d/rgb/" /-->

  <!-- Declare this arguments, that will be used when opening the nodes and topics -->
  <!-- Camera parameters -->
  <arg name="camera_enable" default="true"/>
	<arg name="camera_device" default="/dev/video0"/>
	<arg name="camera_info" default="file://$(find cf_tf)/data/camera2_1280x720.yaml"/>
	<arg name="camera_frame_id" default="camera"/>
	<arg name="camera_width" default="1280"/>
	<arg name="camera_height" default="720" />
	<arg name="camera_fps"  default="30"/>

  <!-- Video type and info -->
  <arg name="rgb_topic" default="/prep/camera/" /> <!-- THE NAME OF THE TOPIC MUST BE BETWEEN /SLASHES/!!! /$(arg camera_frame_id)/ -->
	<arg name="uid" default=""/>
	<arg name="video_namespace" default="$(arg camera_frame_id)"/>
  <!-- Groups with nodes and topics -->
  <!-- Group for camera configuring and image obtention. This works and has been taken from ar_sys single board launcher -->
	<group if="$(arg camera_enable)">
    <node ns="camera" pkg="image_proc" type="image_proc" name="image_proc1" />
    <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen" >
      <param name="video_device" value="$(arg camera_device)" />
      <param name="image_width" value="$(arg camera_width)" />
      <param name="image_height" value="$(arg camera_height)" />
      <param name="pixel_format" value="mjpeg" />
      <param name="camera_frame_id" value="$(arg camera_frame_id)" />
      <param name="camera_name" value= "camera"/>
      <param name="camera_info_url" value= "$(arg camera_info)"/>
      <param name="framerate" value="30" />
    </node>
    <node pkg="tud_img_prep" type="img_prep" name="img_prep" output="screen">
    <!-- camera name-->
      <param name="camera_namespace" value="/camera" />
    </node>
	</group>
    <!-- Configuration of the marker -->
  <arg name="yaml_file" default="fiducials_0.yaml" />
  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="fiducials" file="$(find cf_tf)/data/$(arg yaml_file)"/>
  <param name="fiducials/model_directory" value="$(find cf_tf)/data/"/>

  <!-- start left camera -->
  <node pkg="cob_fiducials" ns="fiducials" type="fiducials" name="fiducials" output="screen">
        <!--launch-prefix="/usr/bin/gdb"-->
        <remap from="image_color" to="$(arg rgb_topic)/image_raw"/>
        <remap from="camera_info" to="$(arg rgb_topic)/camera_info"/>
        <remap from="detect_fiducials" to="/fiducials/detect_fiducials"/>
        <remap from="fiducial_markers" to="/fiducials/fiducial_markers"/>
        <remap from="image" to="/fiducials/image"/>
        <remap from="get_fiducials" to="/fiducials/get_fiducials"/>
  </node>

<!-- ________________________________________________________________ -->

      <!-- Let's make a tf listener -->



</launch>
