<?xml version="1.0"?>

<launch>
  <arg name="frame" default="cf0"/>
  <arg name="worldFrame" default="/world"/>

  <node name="controller" pkg="crazyflie_controller" type="crazyflie_controller" output="screen">
    <param name="frame" value="$(arg frame)" />
    <param name="worldFrame" value="$(arg worldFrame)" />
    <rosparam command="load" file="$(find cf_tf)/data/crazyflie/crazyflie2.yaml" />
  </node>
</launch>
